.fixed-panel{
  color: white;
  position: fixed;
  z-index:100;
  width:100%;
  top:0;
  right:0;
}
.fixed-header{
  padding: 30px 5%;
  transition: color .3s;
}

.header-black{
  color:black;
  .header-content .menu{
    border: 2px solid rgba(0,0,0,0.2);
  }
}

.solid-header{
  background: rgba(28, 56, 75, 0.8);
}

.header-content{
  text-align: right;
  font-size: 0;
  .logo {
    position: static;
    margin-top: -15px;
    float:left;
    transition: .3s;
    svg{
      width:60px;
      fill: white;
    }
  }
  &>div{
    display:inline-block;
    font-size:16px;
    margin-left: 35px;
  }
  .menu{
    border: 2px solid rgba(255,255,255,0.2);
    padding: 8px 14px 6px;
    background: transparent;
    &:focus{
      outline: none;
    }
  }
}

.lang-menu{
  display:inline-block;
  vertical-align: middle;
  margin: 0 -4px;
  .current-lang a{
    font-weight: 700;
  }
  li{
    display: inline-block;
    margin: 0 4px;
    width: 25px;
    text-align: center;
    a{
      display:block;
      font-size: 16px;
      font-weight: 100;
      //        color: white;
      &:hover{
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 768px){

  .fixed-header {
    padding: 30px 20px 25px;
  }
  .header-content{
    &>div {
      margin-left:15px;
    }
    .langs{
      li {
        margin-right: 5px;
      }
    }
  }
}

@media (max-width: 640px) {

  .header-content {
    & > div {
      &:nth-child(1), &:nth-child(2) {
        display: none;
      }
    }
  }
}

@media (max-width:568px){
  .header-content{
    &>div{
      &:nth-child(1), &:nth-child(2){
        display:none;
      }
    }
  }

}

@media(max-width:540px){
  .header-content{
    &>div{
      &:nth-child(3){
        display:none;
      }
      &:nth-child(4){
        margin-left: 0;
      }
    }
  }
}



@media (max-width: 320px) {
//  .header-content > div:nth-child(5) {
//    margin-left: 0;
//  }
  .header-content .lang-menu li {
    margin-right: 5px;
  }
}