.box-container{
  position:relative;
  z-index: 50;
  padding:100px 120px 30px 5%;
  .box-title{
    font-size: 90px;
    margin-bottom: 40px;
    font-weight: 100;
  }
}


@media (max-width: 768px){

  .box-container {
    padding: 100px 20px 40px;
    .box-title{
      text-align:center;
    }
  }
}

@media (max-width:568px){
  .box-container{
    .box-title{
      margin-top: 0;
      font-size:70px;
    }
  }
}

@media (max-width: 360px){
  .box-container .box-title {
    font-size: 50px;
  }
}

@media(max-height: 650px){
  .box-container{
    padding-top: 85px;

    .box-title {
      font-size: 60px;
      margin-bottom: 25px;
    }
  }

  .fixed-header{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .header-content .logo svg{
    height: 50px;
  }
}

@media (max-width: 320px) {
  //  .header-content > div:nth-child(5) {
  //    margin-left: 0;
  //  }
  .header-content .lang-menu li {
    margin-right: 5px;
  }
}


.section {
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


@import 'boxes/box-1';
@import 'boxes/box-2';
@import 'boxes/box-3';
@import 'boxes/box-4';
//@import 'boxes/box-5';
@import 'boxes/box-6';
@import 'boxes/box-7';
//@import 'boxes/box-8';
@import 'boxes/contacts';

