@charset "UTF-8";
@font-face {
  font-family: "AgoraSansPro";
  src: url("../fonts/AgoraSansPro/AgoraSansProRegular/AgoraSansProRegular.eot");
  src: url("../fonts/AgoraSansPro/AgoraSansProRegular/AgoraSansProRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansPro/AgoraSansProRegular/AgoraSansProRegular.woff") format("woff"), url("../fonts/AgoraSansPro/AgoraSansProRegular/AgoraSansProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "AgoraSansProLight"; */
@font-face {
  font-family: "AgoraSansPro";
  src: url("../fonts/AgoraSansPro/AgoraSansProLight/AgoraSansProLight.eot");
  src: url("../fonts/AgoraSansPro/AgoraSansProLight/AgoraSansProLight.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansPro/AgoraSansProLight/AgoraSansProLight.woff") format("woff"), url("../fonts/AgoraSansPro/AgoraSansProLight/AgoraSansProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }

/* font-family: "AgoraSansProThin"; */
/* font-family: "AgoraSansProXThin"; */
@font-face {
  font-family: "AgoraSansPro";
  src: url("../fonts/AgoraSansPro/AgoraSansProXThin/AgoraSansProXThin.eot");
  src: url("../fonts/AgoraSansPro/AgoraSansProXThin/AgoraSansProXThin.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansPro/AgoraSansProXThin/AgoraSansProXThin.woff") format("woff"), url("../fonts/AgoraSansPro/AgoraSansProXThin/AgoraSansProXThin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100; }

/* font-family: "AgoraSansProMedium"; */
@font-face {
  font-family: "AgoraSansPro";
  src: url("../fonts/AgoraSansPro/AgoraSansProMedium/AgoraSansProMedium.eot");
  src: url("../fonts/AgoraSansPro/AgoraSansProMedium/AgoraSansProMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansPro/AgoraSansProMedium/AgoraSansProMedium.woff") format("woff"), url("../fonts/AgoraSansPro/AgoraSansProMedium/AgoraSansProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

/* font-family: "AgoraSansProBold"; */
@font-face {
  font-family: "AgoraSansPro";
  src: url("../fonts/AgoraSansPro/AgoraSansProBold/AgoraSansProBold.eot");
  src: url("../fonts/AgoraSansPro/AgoraSansProBold/AgoraSansProBold.eot?#iefix") format("embedded-opentype"), url("../fonts/AgoraSansPro/AgoraSansProBold/AgoraSansProBold.woff") format("woff"), url("../fonts/AgoraSansPro/AgoraSansProBold/AgoraSansProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/fontello.eot?98859524');
  src: url('../fonts/fontello/fontello.eot?98859524#iefix') format('embedded-opentype'), url('../fonts/fontello/fontello.woff?98859524') format('woff'), url('../fonts/fontello/fontello.ttf?98859524') format('truetype'), url('../fonts/fontello/fontello.svg?98859524#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?98859524#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-angle-down:before {
  content: '\e800'; }

/* '' */
.icon-angle-right:before {
  content: '\e801'; }

/* '' */
.icon-phone:before {
  content: '\e802'; }

/* '' */
.icon-user:before {
  content: '\e803'; }

/* '' */
.icon-menu:before {
  content: '\e804'; }

/* '' */
.icon-angle-left:before {
  content: '\e805'; }

/* '' */
.icon-cancel:before {
  content: '\e806'; }

/* '' */
.icon-facebook:before {
  content: '\e807'; }

/* '' */
.icon-instagram:before {
  content: '\e808'; }

/* '' */
.icon-linkedin:before {
  content: '\e809'; }

/* '' */
.icon-plus:before {
  content: '\e80a'; }

/* '' */
/* Vendors/Libs */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
  max-width: 100%;
  display: block; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:before, .clearfix:after, .row:before, .row:after {
  content: " ";
  display: table; }

.clearfix:after, .row:after {
  clear: both; }

body {
  font-family: 'AgoraSansPro', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px; }

h1, h2, h3, h4 {
  line-height: 1em; }

.noselect, .noselect * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.hide-all {
  overflow: hidden; }

.trigger {
  cursor: pointer; }

.switch-box {
  position: relative; }
  .switch-box .video-background {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .switch-box .video-background video {
      opacity: 0;
      z-index: -1;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto; }
      .switch-box .video-background video.active {
        opacity: .3;
        z-index: 1; }
  .switch-box .image-background {
    position: absolute;
    overflow: hidden;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%; }
    .switch-box .image-background img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0;
      -webkit-transition: .4s;
              transition: .4s;
      min-width: 50%;
      min-height: 50%;
      margin: auto;
      width: auto;
      height: auto; }
      .switch-box .image-background img.active {
        opacity: .3;
        z-index: 1; }

.switch-background {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.image-background .animate {
  -webkit-animation: growimage 30s 0s linear infinite alternate;
          animation: growimage 30s 0s linear infinite alternate; }

.box-content svg {
  display: block;
  margin: 0 auto;
  width: 100%;
  fill: white; }

@-webkit-keyframes growimage {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1); }

  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.1); } }

@keyframes growimage {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
            transform: translate3d(0, 0, 0) scale(1); }

  100% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.1);
            transform: translate3d(0, 0, 0) scale(1.1); } }

.table {
  display: table;
  width: 100%; }
  .table .cell {
    display: table-cell; }

a {
  color: inherit;
  text-decoration: none; }

@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(33%) scale(1.2);
            transform: translateY(33%) scale(1.2);
    opacity: 0; }

  to {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1; } }

@keyframes slideUp {
  from {
    -webkit-transform: translateY(33%) scale(1.2);
            transform: translateY(33%) scale(1.2);
    opacity: 0; }

  to {
    -webkit-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1);
    opacity: 1; } }

.fixed-panel {
  color: white;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  right: 0; }

.fixed-header {
  padding: 30px 5%;
  -webkit-transition: color .3s;
          transition: color .3s; }

.header-black {
  color: black; }
  .header-black .header-content .menu {
    border: 2px solid rgba(0, 0, 0, 0.2); }

.solid-header {
  background: rgba(28, 56, 75, 0.8); }

.header-content {
  text-align: right;
  font-size: 0; }
  .header-content .logo {
    position: static;
    margin-top: -15px;
    float: left;
    -webkit-transition: .3s;
            transition: .3s; }
    .header-content .logo svg {
      width: 60px;
      fill: white; }
  .header-content > div {
    display: inline-block;
    font-size: 16px;
    margin-left: 35px; }
  .header-content .menu {
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 8px 14px 6px;
    background: transparent; }
    .header-content .menu:focus {
      outline: none; }

.lang-menu {
  display: inline-block;
  vertical-align: middle;
  margin: 0 -4px; }
  .lang-menu .current-lang a {
    font-weight: 700; }
  .lang-menu li {
    display: inline-block;
    margin: 0 4px;
    width: 25px;
    text-align: center; }
    .lang-menu li a {
      display: block;
      font-size: 16px;
      font-weight: 100; }
      .lang-menu li a:hover {
        font-weight: 400; }

@media (max-width: 768px) {
  .fixed-header {
    padding: 30px 20px 25px; }
  .header-content > div {
    margin-left: 15px; }
  .header-content .langs li {
    margin-right: 5px; } }

@media (max-width: 640px) {
  .header-content > div:nth-child(1), .header-content > div:nth-child(2) {
    display: none; } }

@media (max-width: 568px) {
  .header-content > div:nth-child(1), .header-content > div:nth-child(2) {
    display: none; } }

@media (max-width: 540px) {
  .header-content > div:nth-child(3) {
    display: none; }
  .header-content > div:nth-child(4) {
    margin-left: 0; } }

@media (max-width: 320px) {
  .header-content .lang-menu li {
    margin-right: 5px; } }

.box-aside-nav {
  position: fixed;
  z-index: 100;
  top: 50%;
  right: 65px;
  -webkit-transform: translate(50%, -50%) rotate(90deg);
      -ms-transform: translate(50%, -50%) rotate(90deg);
          transform: translate(50%, -50%) rotate(90deg);
  -webkit-transition: color .3s;
          transition: color .3s; }
  .box-aside-nav ul li {
    display: inline-block; }
    .box-aside-nav ul li .active {
      position: relative;
      display: inline-block; }
      .box-aside-nav ul li .active:after {
        display: block;
        content: '';
        height: 1px;
        background-color: white;
        -webkit-transition: background-color .3s;
                transition: background-color .3s; }
    .box-aside-nav ul li:before {
      display: inline-block;
      position: relative;
      top: 2px;
      font-size: 24px;
      margin: 0 10px;
      content: '•'; }
    .box-aside-nav ul li:first-child:before {
      content: ''; }
  .box-aside-nav.box-aside-nav-black {
    color: black; }
    .box-aside-nav.box-aside-nav-black ul li .active:after {
      background-color: black; }

.next {
  position: fixed;
  z-index: 100;
  width: 35px;
  height: 35px;
  right: 50px;
  bottom: 30px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  -webkit-transition: color .3s;
          transition: color .3s; }
  .next span {
    position: absolute;
    font-size: 24px;
    top: 4px;
    left: -1px; }
  .next.next-black {
    border: 2px solid rgba(0, 0, 0, 0.3);
    color: black; }

@media (max-width: 768px) {
  .box-aside-nav {
    display: none; } }

@media (max-width: 640px) {
  .next {
    right: 15px; } }

@media (max-width: 568px) {
  .box-aside-nav {
    display: none; } }

#preloader {
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: table;
  position: fixed;
  background: #072439; }
  #preloader .loader-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  #preloader .loader {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-perspective: 800px;
            perspective: 800px; }
  #preloader .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%; }
  #preloader .inner.one {
    left: 0%;
    top: 0%;
    -webkit-animation: rotate-one 1s linear infinite;
            animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA; }
  #preloader .inner.two {
    right: 0%;
    top: 0%;
    -webkit-animation: rotate-two 1s linear infinite;
            animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA; }
  #preloader .inner.three {
    right: 0%;
    bottom: 0%;
    -webkit-animation: rotate-three 1s linear infinite;
            animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA; }

@-webkit-keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }

  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); } }

@keyframes rotate-one {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg); }

  100% {
    -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg); } }

@-webkit-keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }

  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); } }

@keyframes rotate-two {
  0% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg); }

  100% {
    -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
            transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg); } }

@-webkit-keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }

  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); } }

@keyframes rotate-three {
  0% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg); }

  100% {
    -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
            transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg); } }

.single .page-wrapper {
  margin: 0 auto; }

.single .header {
  padding-top: 30px;
  margin-bottom: 30px; }
.single .header-content .logo svg {
  fill: black; }
.single .row.header-part {
  padding: 30px 0; }
.single .row.main-part .col.main-menu {
  padding: 80px 0 0; }
  .single .row.main-part .col.main-menu ul {
    margin-left: 0; }
.single .row.footer-part .col.contacts-wrapper {
  padding: 0; }
  .single .row.footer-part .col.contacts-wrapper .contacts {
    margin-left: 0; }
.single .close-btn {
  float: left;
  display: block;
  margin-left: 25px;
  margin-top: -5px; }

@media (max-width: 460px) {
  .entry-content {
    font-size: 48px; } }

@media (max-width: 360px) {
  .entry-content {
    font-size: 38px; } }

@media (max-width: 320px) {
  .single .soc-icons {
    margin-left: 10px; } }

.entry-content h1 {
  font-weight: 100;
  margin-bottom: 30px;
  font-size: 60px; }
.entry-content .date {
  border: 2px solid #e8e8e8;
  text-align: center;
  padding: 17px 13px; }
  .entry-content .date p {
    font-size: 14px; }
    .entry-content .date p span {
      display: block;
      font-size: 50px;
      line-height: 1em;
      margin-bottom: 10px; }
.entry-content .margin-aside {
  margin-left: 170px; }
.entry-content .col {
  float: left; }
.entry-content .col.page-aside {
  width: 140px; }
  .entry-content .col.page-aside ul {
    text-align: center;
    padding: 10px 0;
    margin: 0 -4px; }
    .entry-content .col.page-aside ul li {
      display: inline-block;
      padding: 0 4px; }
.entry-content .content .text {
  width: 30%;
  padding-right: 15px;
  color: #2a2a2a; }
  .entry-content .content .text p {
    font-size: 16px;
    margin-bottom: 10px; }
.entry-content .content .images {
  width: 70%;
  padding-left: 15px; }
  .entry-content .content .images .image {
    display: inline-block;
    vertical-align: bottom;
    padding: 0 10px 20px; }

@media (min-width: 1200px) {
  .single .page-wrapper {
    width: 1170px; } }

@media (max-width: 1199px) {
  .single .page-wrapper {
    width: 970px; } }

@media (max-width: 991px) {
  .single .page-wrapper {
    width: 750px; }
  .entry-content .content .text, .entry-content .content .images {
    width: 100%;
    padding: 0; }
  .entry-content .content .images {
    margin: 0 -10px; } }

@media (max-width: 767px) {
  .single .page-wrapper {
    width: 100%;
    padding: 0 20px; } }

@media (max-width: 600px) {
  .entry-content h1 {
    margin-bottom: 10px; }
  .entry-content .margin-aside {
    margin: 0; }
  .entry-content .col.page-aside {
    text-align: right;
    width: 100%;
    margin-bottom: 20px;
    color: #adadad; }
  .entry-content .date {
    display: inline-block;
    border: none;
    padding: 0; }
    .entry-content .date p {
      font-size: 16px; }
      .entry-content .date p span {
        font-size: inherit;
        display: inline-block; }
  .entry-content .soc-icons {
    display: inline-block;
    margin-left: 35px; }
    .entry-content .soc-icons a {
      -webkit-transition: color .3s;
              transition: color .3s; }
    .entry-content .soc-icons a:hover {
      color: #2a2a2a; } }

#copy-witty {
  background-color: #1d1d1d;
  padding: 0 40px;
  color: #696969;
  font-family: 'Helvetica', sans-serif; }

#copy-witty:before, #copy-witty:after {
  content: '';
  display: table; }

#copy-witty:after {
  clear: both; }

#copy-witty > div {
  float: right; }

#copy-witty span, #copy-witty figure, #copy-witty b {
  display: inline-block;
  vertical-align: middle; }

#copy-witty span {
  font-size: 12px; }

#copy-witty figure {
  margin: 0 4px; }

#copy-witty b {
  font-weight: 700;
  font-size: 12px; }

#copy-witty svg {
  width: 30px;
  height: 30px; }

.box-container {
  position: relative;
  padding: 60px; }
  .box-container .box-title {
    font-size: 70px;
    margin-bottom: 50px;
    font-weight: 100; }

.row {
  margin: -10px; }
  .row .col {
    padding: 10px;
    float: left; }

@media (max-width: 360px) {
  .box-container {
    padding: 60px 20px; }
    .box-container .box-title {
      font-size: 40px;
      text-align: center; } }

.section {
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.box-1 .box-container {
  background-color: rgba(7, 36, 57, 0.7);
  padding-top: 120px; }
  .box-1 .box-container .description {
    margin-top: 30px;
    line-height: 30px;
    font-size: 24px; }

@media (max-width: 620px) {
  .box-1 .box-container .item-title {
    font-size: 22px; }
  .box-1 .box-container .description {
    font-size: 16px;
    line-height: 22px; } }

@media (max-width: 580px) {
  .box-1 .box-container .item-title {
    font-size: 26px; } }

@media (max-width: 580px) {
  .box-container .box-title {
    font-size: 50px; } }

.box-2 .col {
  width: 50%; }
  .box-2 .col:nth-child(even) {
    float: right; }
.box-2 .box-container {
  background-color: rgba(7, 36, 57, 0.7); }
.box-2 .item-list {
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 20px 30px; }
.box-2 .item-title {
  font-size: 28px;
  text-align: center;
  margin: 20px 0; }
.box-2 .description {
  display: none;
  margin-top: 40px; }
  .box-2 .description p {
    line-height: 26px;
    font-size: 22px;
    margin-bottom: 20px; }

@media (max-width: 620px) {
  .box-2 .item-title {
    font-size: 24px; }
  .box-2 .description p {
    font-size: 18px; } }

@media (max-width: 580px) {
  .box-2 .col {
    width: 100%; }
  .box-2 .item-title {
    font-size: 26px; } }

.box-3 .box-item {
  margin-bottom: 30px;
  font-size: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  padding: 30px; }
  .box-3 .box-item .number {
    width: 25%;
    font-size: 110px;
    line-height: 1em;
    font-weight: 100;
    text-align: center;
    display: inline-block;
    vertical-align: middle; }
    .box-3 .box-item .number .spec {
      position: relative;
      margin-right: -20px; }
      .box-3 .box-item .number .spec span {
        position: relative;
        right: 42px;
        bottom: 24px;
        font-size: 40px; }
  .box-3 .box-item .desc {
    width: 75%;
    font-size: 20px;
    padding-left: 30px;
    line-height: 26px;
    display: inline-block;
    vertical-align: middle; }

@media (max-width: 720px) {
  .box-3 .box-item .number {
    width: 35%; }
  .box-3 .box-item .desc {
    width: 65%; } }

@media (max-width: 560px) {
  .box-3 .box-item .number {
    font-size: 80px; }
    .box-3 .box-item .number .spec span {
      right: 31px;
      bottom: 18px;
      font-size: 30px; } }

@media (max-width: 480px) {
  .box-3 .box-item {
    text-align: center; }
    .box-3 .box-item .number, .box-3 .box-item .desc {
      width: 100%; }
    .box-3 .box-item .number {
      font-size: 100px; }
      .box-3 .box-item .number .spec span {
        right: 36px;
        bottom: 23px;
        font-size: 30px; } }

.box-4 .box-head .box-title {
  margin-bottom: 40px; }
.box-4 .box-head p {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 60px;
  text-align: center; }
.box-4 .box-image {
  width: 100%;
  margin: 0 auto; }
.box-4 .market-buttons {
  text-align: center;
  font-size: 0;
  margin: 60px -20px 0; }
  .box-4 .market-buttons a {
    display: block; }
  .box-4 .market-buttons .btn-item {
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    margin: 10px 20px; }
    .box-4 .market-buttons .btn-item figure {
      width: 250px; }
      .box-4 .market-buttons .btn-item figure svg {
        width: 100%;
        height: auto; }

@media (max-width: 620px) {
  .box-4 .market-buttons .btn-item figure {
    width: 180px; } }

@media (max-width: 460px) {
  .box-4 .market-buttons {
    margin: 20px -5px 0; }
    .box-4 .market-buttons .btn-item {
      margin: 5px; }
      .box-4 .market-buttons .btn-item figure {
        width: 130px; } }

.contacts-box {
  background: #0C1E30;
  position: relative; }
  .contacts-box #footer-text {
    position: absolute;
    width: 100%;
    bottom: 0; }
  .contacts-box .contacts-list {
    max-width: 680px;
    margin: 0 auto 30px;
    text-align: right; }
  .contacts-box h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 25px; }
  .contacts-box .row {
    margin: 0 -10px; }
  .contacts-box .col {
    float: left;
    width: 23%;
    padding: 0 10px; }
    .contacts-box .col:nth-child(3) {
      width: 31%; }
  .contacts-box p {
    margin-bottom: 10px; }
  .contacts-box b {
    display: block;
    color: #969696; }
  .contacts-box .office {
    margin-bottom: 30px; }
  .contacts-box .map {
    max-width: 700px;
    margin: 0 auto; }
  .contacts-box .centered {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  .contacts-box .distribution-map {
    position: relative;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto; }
    .contacts-box .distribution-map > img {
      width: 100%;
      position: relative;
      margin: 0;
      padding: 0; }
    .contacts-box .distribution-map h4 {
      font-weight: 700;
      margin-bottom: 15px; }
    .contacts-box .distribution-map a {
      display: inline-block;
      padding: 2px 10px;
      font-size: 14px;
      border: 2px solid rgba(255, 255, 255, 0.25);
      border-radius: 4px; }
      .contacts-box .distribution-map a:hover {
        background-color: rgba(255, 255, 255, 0.1); }
    .contacts-box .distribution-map .map-point {
      cursor: pointer;
      outline: none;
      z-index: 0;
      overflow: hidden;
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 9px;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
      opacity: 0.8;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      -webkit-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s, background-color 0.25s ease-in-out 0.25s;
              transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s, background-color 0.25s ease-in-out 0.25s;
      background: rgba(26, 26, 26, 0.85);
      border: 3px solid #7fcff7; }
      .contacts-box .distribution-map .map-point .content {
        display: table;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        -webkit-transition: opacity 0.25s ease-in-out;
                transition: opacity 0.25s ease-in-out;
        width: 100%;
        height: 100%;
        left: 50%;
        padding: 15px;
        overflow: overlay; }
      .contacts-box .distribution-map .map-point:active, .contacts-box .distribution-map .map-point:focus {
        margin: 0;
        padding: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        width: 200px;
        height: 120px;
        color: #e5e5e5;
        z-index: 1;
        background: rgba(11, 17, 23, 0.8); }
        .contacts-box .distribution-map .map-point:active .content, .contacts-box .distribution-map .map-point:focus .content {
          filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
          opacity: 1;
          -webkit-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
                  transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
          overflow: hidden; }

@media (max-width: 660px) {
  .contacts-box .contacts-list {
    max-width: 400px;
    text-align: center; }
  .contacts-box h3 {
    margin-bottom: 45px; }
  .contacts-box .col {
    width: 50%; }
    .contacts-box .col:nth-child(3) {
      width: 50%; } }

@media (max-width: 460px) {
  .contacts-box span {
    display: block; }
  .contacts-box .map {
    display: none; } }

@media (max-width: 360px) {
  .contacts-box .col {
    width: 100%; }
    .contacts-box .col:nth-child(3) {
      width: 100%; }
  .contacts-box .office:first-child {
    margin-bottom: 10px; } }

.fixed-header {
  -webkit-transition: .4s;
          transition: .4s;
  background: rgba(30, 64, 86, 0.8); }

.nav-up {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%); }

.header-content .logo {
  top: -10px; }
  .header-content .logo svg {
    width: 40px;
    height: 45px;
    fill: white; }
.header-content .lang-menu li {
  width: 15px; }
  .header-content .lang-menu li a {
    font-size: 14px; }
  .header-content .lang-menu li.current-lang {
    display: none; }

.membership {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.1em; }

@media (max-width: 320px) {
  .fixed-header {
    padding: 15px 20px 17px; } }
