.box-1{
  background-color: #072439;

  .box-title{
    font-size:115px;
    line-height: 1em;
    text-align:center;
    max-width: 900px;
    margin: 0 auto 30px;
  }

  .fp-tableCell{
    display:table;
  }

  .box-container {
    padding: 0 5%;
    display:table-cell;
    vertical-align:middle;
  }

  .description{
    text-align:center;
    width:80%;
    margin: 0 auto;
  }

  .market-buttons{
    text-align:center;
    margin-top: 35px;
    .btn-item{
      display: inline-block;
      margin: 0 5px;
    }
  }
}

.box-1.mobile{
  .box-container{
    background-color: rgba(7, 36, 57, 0.7);
    h2{
      font-size: 80px;
      text-align: center;
      margin-bottom: 50px;
    }
    .box-content{
      margin:0;
      .item-list{
        height: auto;
        margin-bottom: 30px;
        .items{
          position:static;
          margin-top: 30px;
        }
      }
    }
  }


  .description {
    display: none;
    margin-top: 20px;
    line-height: 20px;
  }
}


@media (max-width: 992px) and (max-height: 530px){
  .box-1 {

    .box-title {
      font-size: 90px;
    }
    .box-description{
      p{
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 900px) {
  .box-1 {
    .box-title {
      font-size: 80px;
    }
  }
}

@media (max-width: 580px) {
  .box-1{
    .box-title{
      font-size: 60px;
    }
  }
}


@media (max-width: 360px) {

  .box-1 {
    .box-container {
      .box-title {
        font-size: 60px;
        margin-bottom: 20px;
      }
    }
  }
}